$defaultFont: "Roboto", sans-serif;
$defaultBodyWidth: clamp(300px,96%,1170px);

$siteSearchHeight: 50px;
$siteSearchWidth: 200px;
$siteSearchBgColor: #535353;
$siteSearchInputHeight: 36px;
$siteSearchBtnWidth: 45px;
$siteSearchBtnBgColor: #3071a9;

$navHeight: 100px;
$navBgColor: #1c1834;
$red1: #dd293a;
$gray1: #535353;
$gray2: #bdbdbd;
$gray3: #666;
$navTextColor: #fff;
$navFontWeight: 800;
$navBtnHoverBgColor: #535353;
$navMenuFontSize: 1.3vw;

$logo-width: 221px;
$logo-height: 42px;

$sliderWidth: 100%;
$sliderHeight: auto;

$smallScreenWidth: 720px;
$middleScreenWidth: 976px;