$default-font: "Roboto", sans-serif;
$default-body-width: 1170px;

$site-search-height: 50px;
$site-search-width: 200px;
$site-search-bg-color: #535353;
$site-search-input-height: 36px;
$site-search-btn-width: 45px;
$site-search-btn-bg-color: #3071a9;

$nav-height: 100px;
$nav-bg-color: #1c1834;
$red1: #dd293a;
$nav-text-color: #fff;
$nav-font-weight: 800;
$nav-btn-hover-bg-color: #535353;
$nav-menu-font-size: 1.3vw;

$logo-width: 221px;
$logo-height: 42px;

$sliderWidth: 100%;
$sliderHeight: 545px;
