.search {
    display: flex;
    justify-content: flex-end;
    width: $defaultBodyWidth;

    @media only screen and (max-width: $smallScreenWidth) {
        display: none !important;
    }

    input {
        height: $siteSearchInputHeight;
        width: $siteSearchWidth;
        max-height: $siteSearchInputHeight;
        border: none;
        padding: 0 6px 0 6px;
        border-radius: 4px;
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $siteSearchBtnWidth;
        height: $siteSearchInputHeight;
        background-color: $siteSearchBtnBgColor;
        border-radius: 4px;
        margin-left: -5px;
        @include hover-cursor();
    }
}
