
@media only screen and (max-width: 700px) {
    .menu__large {
        display: none !important;
    }

    .bar-icon {
        display: flex !important;
        height: 100%;
        align-items: center;
        margin-right: 2vw;
        @include hover-cursor();
    }

    .site-search {
        display: none !important;
    }

    .menu__small{
        position: absolute;
        left: 0;
        width: 100vw;
        display: none !important;
        border-top: 1px solid #535353;
        flex-direction: column;
        font-weight: 800;
        font-size: 16px;
        color: $nav-text-color;
        background-color: $nav-bg-color;
        padding: 6px;
        
        &-item{
            padding: 16px;
            @include hover-cursor();
            border-bottom: 6px solid transparent;
            &:hover {
                height: calc(100% - 12px);
                background-color: $nav-btn-hover-bg-color !important;
                border-bottom-color: #fff;

                a{
                    margin-top: 12px;
                }
            }
        }

        &-item:last-child{
            background-color: $red1;
            text-align: center;
        }
    }

    .logo{
        margin-left: 2vw;
    }
}


