.body{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper{
        width: $defaultBodyWidth;
        display: flex;
        flex-wrap: wrap;
    }

    &__left{
        padding: 1%;
        width: 65%;

        @media screen and (max-width: $middleScreenWidth) {
            width: 100%;
        }
    }

    &__right{
        padding: 1%;
        width: 33%;

        @media screen and (max-width: $middleScreenWidth) {
            width: 100%;
        }
    }

    &__header{
        width: 100%;
        font-weight: 800;
        font-size: 1.5rem;
        color: #444;
        margin: 32px 0 16px 0;
        display: block;
    }
}

.programs, .best-10-clip{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.news{
    width: $defaultBodyWidth;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

