header {

}

.site-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $siteSearchHeight;
    background-color: $siteSearchBgColor;

    @media screen and (max-width: $smallScreenWidth) {
        display: none;
    }
}